

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="w-10">
        <a href="javascript:;" class="route">
            <strong>
                Home
            </strong>
        </a>
        <br>
        <a href="javascript:;" class="route">
            <strong>
                Posts
            </strong>
        </a>
    </mat-sidenav>
    <mat-toolbar color="primary" class="d-flex justify-content-between">
        <div>
            <button mat-icon-button color="accent"
            (click)="sidenav.open()"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/posts" mat-button>
                <strong>
                    Posts
                </strong>
            </a>
        </div>
        <button mat-raised-button color="accent">
            <strong>
                LogOut
            </strong>
        </button>
    </mat-toolbar>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>


<div class="spiner" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>